.content {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.content h2 {
    font-size: 2em;
}

hr {
    width: 11em;
    margin-left: 0px;
}

.content p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.bubble {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
}