@import '../../styles/variables';

h1 {
    margin: 1em;
}

.content {
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

.content h2 {
    font-size: 2em;
}

hr {
    width: 11em;
    margin-left: 0px;
}

.content p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.about-us-bubble {
    color: $market-league-white;
    background-color: $market-league-purple;
    border-radius: 8px;
    margin: 0 1em;
    padding: 1.5em 15em;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 10em;
    padding-bottom: 10em;
    background-image: url('/logos/checkered-pattern-marketleague.svg');
    background-size: 140px;
    background-repeat: repeat; // Repeats the pattern across the entire container
}

.bubble {
    background-color: lighten($market-league-dark-blue, 35.5%);
    padding: 2em;
    margin-top: 5em;
    border-radius: 8px;
    margin-bottom: 10em;
}

.margin-right {
    margin-right: 9em;
}

.margin-left {
    margin-left: 9em;
}

@media (max-width: 50em) {
    .about-us-bubble {
        padding: 0em 3em;
    }

    .bubble {
        margin-right: 0em;
        margin-left: 0em;
    }
}