<app-navbar></app-navbar>
<header>
    <div class="about-us-bubble">
        <h1 style="min-width: 4.9em;">About Us</h1>
    </div>
</header>

<div class="content">
    
    <div class="bubble margin-right">
        <h2>Our Story</h2>
        <hr>
        <p>
            MarketLeague started with a simple idea: investing should be accessible and fun for everyone. As two passionate tech enthusiasts, we realized that the world of finance could be intimidating for many. We wanted to create a place where people could learn, grow, and experience the thrill of trading — all within a supportive and interactive community.
        </p>
    </div>

    <div class="bubble margin-left">
        <h2>Who We Are</h2>
        <hr>
        <p>
            We are two computer science majors who believe in empowering individuals with the tools to take control of their investments. With backgrounds in software development and a love for problem-solving, we are using technology to bring an innovative approach to learning about finance and investing.
        </p>
    </div>

    <div class="bubble margin-right">
        <h2>Our Mission</h2>
        <hr>
        <p>
            Our mission is to make investing accessible, educational, and engaging. We strive to foster a community where users can connect, learn, and participate in leagues that simulate real-world trading, allowing everyone to invest like a pro while having fun.
        </p>
    </div>
</div>
<app-footer></app-footer>