<section class="remove-league">
    <div class="centering-container flex-column">
        <div class="h1-container">
            <h1>
                Remove League
            </h1>
        </div>

        <div class="container">
            <ul class="leagues" *ngIf="leagues && leagues.length > 0">
                <li 
                    *ngFor="let league of leagues" 
                    class="league-item"
                    (click)="selectLeague(league)"
                >
                    <span class="full-name">{{ league.league_name }}</span>
                    <button (click)="removeLeague(league)" title="Remove League" class="minus-round-icon">
                        <img src="/images/minus-round-icon-purple.svg" alt="Image" width="25px">
                    </button>
                </li>
            </ul>
            <div *ngIf="!leagues || leagues.length === 0" class="no-leagues-message">
                <p>You don't have any leagues to remove.</p>
                <p>Create a league first or join an existing one.</p>
            </div>
        </div>
    </div>
</section>