<div class="layout">

    <!-- Main Content Area -->
    <!-- Top bar -->
    <header class="topbar">
        
        <div class="icons-list">
            <div class="sidebar-header">
                <button (click)="redirectToHome()">
                    <img src="/logos/horizontal-logo.svg" alt="Market League Full Horizontal Logo" class="logo-image"/>
                </button>
            </div>

            
            <div class="search-container">
                <div class="form-field">
                    <input 
                    type="search" 
                    class="search-input" 
                    placeholder="Search Stocks..." 
                    [(ngModel)]="searchQuery"
                    name="searchQuery"
                    (input)="onSearch()"
                    (keydown.arrowDown)="navigateSuggestions(1)"
                    (keydown.arrowUp)="navigateSuggestions(-1)"
                    (keydown.enter)="selectStock(searchResults[activeIndex])"
                    (blur)="hideSuggestions()"
                    (focus)="showSuggestions()"
                    autocomplete="off"
                />
                <button class="search-button" aria-label="Search" (click)="onSearch()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="search-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </button>
                
                <ul *ngIf="showDropdown" class="autocomplete-list">
                    <li *ngFor="let stock of searchResults | slice:0:5; let i = index" 
                        class="suggestion-item"
                        [class.active]="i === activeIndex"
                        (click)="selectStock(stock)"
                        ((dblclick))="selectStock(stock)">
                        <strong>{{ stock.company_name }}</strong> ({{ stock.ticker_symbol }})
                    </li>
                </ul>
            </div>

            </div>
            
            <div class="middle-icons hide-on-small-screen">
                <button (click)="redirectToDashboard()" title="League Dashboard" class="topbar-icon">
                    <img src="/images/four-squares-icon.svg" alt="Image" width="22px">
                </button>
                <button (click)="redirectToPortfolio()" title="Portfolio" class="topbar-icon">
                    <img src="/images/briefcase-icon.svg" alt="Image" width="25px">
                </button>
                <button (click)="redirectToTrades()" title="Trades" class="topbar-icon">
                    <img src="/images/handshake-icon.svg" alt="Image" width="37px">
                </button>
                <button (click)="redirectToLeaderboard()" title="Leaderboard" class="topbar-icon">
                    <img src="/images/leaderboard-icon.svg" alt="Image" width="35px">
                </button>
                <!-- <button (click)="redirectToSettings()" title="Settings" class="topbar-icon">
                    <img src="/images/settings-icon.svg" alt="Image" width="30px">
                </button> -->
            </div>
            
            <div class="menu-btn hide-on-big-screen" (click)="toggleMenu()" [ngClass]="{'close': showMenu}">
                <div class="btn-line"></div>
                <div class="btn-line"></div>
                <div class="btn-line"></div>
            </div>
            <ul class="dropdown-menu-items" [ngClass]="{'show': showMenu}">
                <li class="nav-item" (click)="redirectToDashboard()" title="League Dashboard">
                    <p>Dashboard</p>
                </li>
                <li class="nav-item" (click)="redirectToPortfolio()" title="Portfolio">
                    <p>Portfolio</p>
                </li>
                <li class="nav-item" (click)="redirectToTrades()" title="Trades">
                    <p>Trades</p>
                </li>
                <li class="nav-item" (click)="redirectToLeaderboard()" title="Leaderboard">
                    <p>Leaderboard</p>
                </li>
                <!-- <li class="nav-item" (click)="redirectToSettings()" title="Settings">
                    <p>Settings</p>
                </li> -->
            </ul>

        </div>
        
    </header>
    
    <!-- Left Sidebar -->
    <div class="under-navbar">
        <nav class="sidebar">
            <div class="separator-from-leagues-and-logout">
                <div class="add-and-view-leagues">
                    <h2 class="leagues-header">Leagues</h2>
                    <hr style="width: 2em;">
                    <div class="league-options">
                        <button (click)="redirectToCreateLeague()" title="Add League" class="topbar-icon">
                            <img src="/images/plus-icon.svg" alt="Image" width="25px">
                        </button>
                        <button (click)="redirectToRemoveLeague()" title="Remove League" class="topbar-icon">
                            <img src="/images/minus-round-icon-white.svg" alt="Image" width="25px">
                        </button>
                    </div>
                    <ul class="leagues">
                        <li 
                            *ngFor="let league of leagues" 
                            class="league-item"
                            (click)="selectLeague(league)"
                        >
                            <p class="first-letter">{{ league.league_name[0] }}</p>
                            <p class="full-name">{{ league.league_name }}</p>
                        </li>
                    </ul>
                </div>
                <div *ngIf="user" class="user-text">
                    <button (click)="redirectToHome()" title="Logout" class="logout-button">
                        <p>Logout: {{user}}</p>
                    </button>
                </div>
            </div>
        </nav>
    
        <!-- Dynamic content based on route -->
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>