@import '../../styles/variables';

.login {
    height: 80vh;
    background: url('/images/undraw_project_manager.svg') no-repeat center center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.checkered-background {
    width: 100%;
    height: 96vh; // Full height of the viewport or specify the height you need
    background-image: url('/logos/checkered-pattern-marketleague.svg');
    background-size: 140px;
    background-repeat: repeat; // Repeats the pattern across the entire container
}

.login-content {
    border-radius: 20px;
    background-color: $market-league-purple;
    padding: 1em 3em 3em 3em;
    max-width: 30em;
}

.login-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.btn {
    background: darken($market-league-gold, 1%);
    border-color: $market-league-gold;
    border-radius: 20px;

    color: darken($market-league-purple, 10%);
    padding: 1em 10em;
    text-decoration: none;
    transition: background 0.3s;
    font-weight: bold;
    border-style: none;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1em;
}

.btn:hover {
    background: lighten($market-league-gold, 20%);
}

.small-text {
    font-size: 0.9em;
    margin: 0em;
}

a {
    font-size: 0.9em;
    text-decoration: underline;
}

.create-account-btn {
    text-decoration: underline;
    font-size: 0.9em;
    font-family: $market-league-font-family;

    // remove default styles
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    cursor: pointer;
}

.error-message {
    color: $market-league-red;
    background-color: $market-league-black;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}

@media (max-width: 50em) {
    .login-input {
        max-width: 15em;
    }

    .btn {
        padding: 1em 6em;
    }

    .login-content {
        padding: 2em 0em;
    }
}