<app-navbar></app-navbar>
<section class="login checkered-background">
    <div class="login-content">
        <h1>Login</h1>
        <form (submit)="onSubmit($event, username.value, password.value)">
            <input type="text" name="username" placeholder="Username" class="login-input" #username required>
            <input type="password" name="password" placeholder="Password" class="login-input" #password required>
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
            <button type="submit" class="btn padding-right">Login</button>
            <p class="small-text">Don't have an account?</p>
            <button (click)="redirectToSignUp()" class="create-account-btn">Create Account</button>
        </form>
    </div>
</section>
<app-footer></app-footer>