<section class="login checkered-background">
    <div class="login-content">
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="btn padding-right">Login</button>
            <p class="small-text">Don't have an account?</p>
            <button (click)="redirectToSignUp()" class="create-account-btn">Create Account</button>
        </form>
    </div>
</section>