<section class="settings">
    <div class="centering-container flex-column">
        <div class="h1-container">
            <h1>{{ selectedStock?.ticker_symbol ? selectedStock?.ticker_symbol : 'Select a Stock' }}</h1>
        </div>

        <div class="container">
            <div class="flex-row">
                <h2>{{ selectedStock?.company_name ? selectedStock?.company_name : 'Select a Stock' }}</h2>
                <button *ngIf="isRoutedToStockDetails" (click)="returnToDraft()" class="return-to-draft-button">Go to Draft</button>
            </div>
            <div class="stock-details-chart-container">
                <app-stock-chart [stockData]="stockDetails" class="stock-chart"></app-stock-chart>
            </div>
        </div>
    </div>
</section>