<section class="league-home">
    <div class="main-title-bar">
        <h1>
            {{ selectedLeague?.league_name ? selectedLeague?.league_name : 'Select a League' }}
        </h1>
        <button (click)="redirectToDraft()" class="draft-stocks-button">
            Draft Stocks
        </button>
    </div>
    <div class="flex-container top">
        <div class="flex-item scrollable-section" style="flex: 1;">
            <h2>League Members</h2>
            <ul *ngIf="leagueMembers && leagueMembers.length > 0; else noLeagueMembers">
                <li *ngFor="let member of leagueMembers">{{ member }}</li>
            </ul>
            <ng-template #noLeagueMembers>
                <p>No League Members Found</p>
            </ng-template>
        </div>
        
        <div class="flex-item scrollable-section" style="flex: 1;">
            <h2>Leaderboard</h2>
            <ul *ngIf="leagueMembers && leagueMembers.length > 0; else noLeaderboard">
                <li *ngFor="let member of leagueMembers">{{ member }}</li>
            </ul>
            <ng-template #noLeaderboard>
                <p>No Leaderboard Found</p>
            </ng-template>
        </div>
    </div>

    <div class="flex-container middle">
        <div class="flex-item scrollable-section" style="flex: 1;">
            <h2>Portfolio</h2>
            <ul *ngIf="userPortfolio && userPortfolio.length > 0; else noPortfolio">
                <li *ngFor="let stock of userPortfolio" class="stock-row">
                    <p>{{ stock.ticker_symbol }}</p>
                    <p class="stock-current-price">{{ stock.current_price | currency:'USD':'symbol':'1.2-2' }}</p>
                </li>
            </ul>
            <ng-template #noPortfolio>
                <p>No Stocks Found</p>
            </ng-template>

        </div>

        <div class="flex-item scrollable-section" style="flex: 3;">
            <h2>Trades</h2>
            <ul *ngIf="leagueTrades && leagueTrades.length > 0; else noTrades">
                <li *ngFor="let trade of leagueTrades" class="trade-item">
                    <div>
                        <p>{{ trade.user1.username }}</p>
                        <div 
                            [ngClass]="{'trade-confirmed': trade.user1_confirmed, 'trade-not-confirmed': !trade.user1_confirmed}"
                            class="confirmation-status">
                        </div>
                        <p *ngFor="let stock of trade.stocks1">
                            {{ stock.ticker_symbol }}
                        </p>
                    </div>
                    <div>
                        <p style="display: flex; justify-content: center;">Trades for</p>
                        <p>{{ trade.created_at | date: 'MMMM d, yyyy, h:mm a' }}</p>
                    </div>
                    <div>
                        <p>{{ trade.user2.username }}</p>
                        <div 
                            [ngClass]="{'trade-confirmed': trade.user2_confirmed, 'trade-not-confirmed': !trade.user2_confirmed}"
                            class="confirmation-status">
                        </div>
                        <p *ngFor="let stock of trade.stocks2">
                            {{ stock.ticker_symbol }}
                        </p>
                    </div>
                </li>
            </ul>
            <ng-template #noTrades>
                <p>No Trades Found</p>
            </ng-template>
        </div>

    </div>
</section>