<section class="league-draft">
    <div class="centering-container flex-column">
        <div class="h1-container">
            <h1>Draft Stocks</h1>
        </div>

        <div class="container">
            <div class="available-stocks-selection">
                <h2>Available Stocks</h2>
                <div class="stock-cards">
                    <div *ngFor="let stock of stocks" class="stock-card">
                        <h2>{{ stock.ticker_symbol }}</h2>
                        <p class="full-company-name">{{ stock.company_name }}</p>
                        <p class="stock-price">{{ stock.current_price | currency:'USD':'symbol':'1.2-2' }}</p>
                        <button (click)="draftStock(stock)" class="draft-button">Draft</button>
                    </div>
                </div>
            </div>
            
            <div class="stocks-in-portfolio">
                <h2>Your current stocks</h2>
                <div class="portfolio-stock-cards">
                    <div *ngFor="let stock of userPortfolioStocks" class="stock-card">
                        <h2>{{ stock.ticker_symbol }}</h2>
                        <p class="full-company-name">{{ stock.company_name }}</p>
                        <p class="stock-price">{{ stock.current_price | currency:'USD':'symbol':'1.2-2' }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>