@import '../../styles/variables';

header {
    background: $market-league-purple;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-bottom: 4px; // to adjust for the underline
}

img {
    padding-top: .3em;
    width: 290px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links button {
    color: $market-league-white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 2.3em 0.9em;
}

.nav-links button:hover {
    color: $market-league-gold;
    border-bottom: 4px solid;
    margin-bottom: -4px; // offset the border
}

@media (max-width: 40em) {
    img {
        content: url("/favicon.png");
        width: 2.3em;
    }
}