<header>
    <nav>
        <a routerLink="../home">
            <img src="logos/horizontal-logo.svg" alt="Market League Full Horizontal Logo" />
        </a>
        <ul class="nav-links">
            <li><a routerLink="../home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="../about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
            <li><a routerLink="../login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
        </ul>
    </nav>
</header>