@import '../../styles/variables';

header {
    background: $market-league-purple;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

img {
    width: 290px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-links a {
    color: $market-league-white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 1.5em 0.9em;
}

.nav-links a:hover {
    color: $market-league-gold;
    border-bottom: solid 4px;
}