<app-navbar></app-navbar>
<div>
    <section class="main checkered-background">
        <div class="main-content">
            <h1>Play MarketLeague Now!</h1>
            <p>Invest like a king. Take the crown.</p>
            <button (click)="redirectToLogin()" class="btn margin-right">Join Now!</button>
        </div>
    </section>

    <section class="information-section" style="margin-top: 10em;">
        <div class="content-row">
            <div class="information-rect" style="margin-right: 3em;">
                <h2>Choose Real Stocks and Create a Winning Portfolio</h2>
                <hr style="width: 4em;">
                <p>Compete against your friends and fellow investors to see who has the sharpest skills. Track your progress and aim for the number one spot on the leaderboard. With every smart trade, you get closer to becoming the ultimate MarketLeague champion.</p>
            </div>
            <img src="/images/undraw-portfolio.svg" alt="Screenshot of Game Winning Portfolio" width="300">
        </div>
        <div class="content-row">
            <img src="/images/undraw-team-print.svg" alt="Screenshot of Game Winning Portfolio" width="300">
            <div class="information-rect" style="margin-left: 3em;">
                <h2>Trade With Your Friends</h2>
                <hr style="width: 4em;">
                <p>Bring the excitement of the stock market to your social circle. Make trades, share strategies, and see who makes the best moves in the market. It’s all about having fun and learning together while challenging your friends.</p>
            </div>
        </div>
        <div class="content-row">
            <div class="information-rect" style="margin-right: 3em;">
                <h2>Rise to the Top of the Leaderboard</h2>
                <hr style="width: 4em;">
                <p>Build your dream portfolio by choosing from real stocks and crafting a winning strategy. Whether you’re after growth or stability, every choice matters. Show off your investing prowess by building a portfolio that outperforms the rest.                </p>
            </div>
            <img src="/images/undraw-leaderboard.svg" alt="Screenshot of Game Winning Portfolio" width="300">
        </div>
    </section>
</div>
<app-footer></app-footer>