@import '../../styles/variables';

body {
    font-family: $market-league-font-family;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 80vh;
    background: url('/images/stocks.jpg') no-repeat center center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    border-radius: 20px;
    background-color: $market-league-purple;
    padding: 1em 3em 3em 3em;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
}

.btn {
    background: $market-league-gold;
    color: darken($market-league-purple, 10%);
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: darken($market-league-gold, 10%);
}

.padding-right {
    margin-right: 2em;
}