<section class="login checkered-background">
    <div class="login-content">
        <h1>Sign Up</h1>
        <form action="/sing-up" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="email" placeholder="example@domain.com" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm-password" placeholder=" Confirm Password" required>
            <button type="submit" class="btn padding-right">Create Account</button>
            <p class="small-text">Already have an account?</p>
            <button (click)="redirectToLogin()" class="create-account-btn">Login</button>
        </form>
    </div>
</section>