<app-navbar></app-navbar>
<section class="login checkered-background">
    <div class="login-content">
        <h1>Sign Up</h1>
        <form (submit)="onSubmit($event, username.value, password.value, confirm_password.value)">
            <input type="text" name="username" placeholder="Username" class="signup-input" #username required>
            <input type="text" name="email" placeholder="example@domain.com" class="signup-input" required>
            <input type="password" name="password" placeholder="Password" class="signup-input" #password required>
            <input type="password" name="confirm-password" placeholder="Confirm Password" class="signup-input" #confirm_password required>
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
            <button type="submit" class="btn padding-right">Create Account</button>
            <p class="small-text">Already have an account?</p>
            <button (click)="redirectToLogin()" class="create-account-btn">Login</button>
        </form>
    </div>
</section>
<app-footer></app-footer>