<section class="portfolio">
    <div class="centering-container flex-column">
        <div class="h1-container">
            <h1>
                Portfolio
            </h1>
        </div>

        <div class="container">
            <h2>Stock Change</h2>
            <ul *ngIf="stockHistoryList && stockHistoryList.length > 0; else noLeagueMembers">
                <li *ngFor="let stockHistoryEntry of stockHistoryList">{{ stockHistoryEntry }}</li>
            </ul>
            <ng-template #noLeagueMembers>
                <p>No Stocks Found</p>
            </ng-template>
        </div>
    </div>
</section>