// Define color variables
$market-league-green: #63C132;
$market-league-red: #FF4242;
$market-league-gold: #F3B700;
$market-league-purple: #7D5BA6;
$market-league-dark-blue: #7399C6;
$market-league-white: #FFFBFC;
$text-color: #333;

// Define typography variables
$market-league-font-family: 'Arial, sans-serif';