// Define color variables
$market-league-green: #63C132;
$market-league-red: #FF4242;
$market-league-gold: #F3B700;
$market-league-purple: #7D5BA6;
$market-league-dark-blue: #7399C6;
$market-league-white: #fdfdfd; // off-white to not hurt the eyes
$market-league-black: #0E1116;
$scrollbar-grey: #d7d7d7;
$text-color: #333;

// Define typography variables
$market-league-font-family: 'Poppins';